<template>
  <div class="communitySelector">
    <div v-if="error" class="error">{{error}}</div>
    <div v-else>
      <div v-if="docs == null">Loading...</div>
      <div v-else-if="docs.length == 0">No docs</div>
      <div v-else>Filter Demo Asim:
        <input v-model="filterText" />
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>formatCode</th>
              <th>ID</th>
            </tr>
          </thead>
          <tbody>      
            <tr v-for="doc in docsFiltered" :key="doc.id">
              <td><label><input type="checkbox" id="selectedDocs" v-model="selectedDocs" :value="doc.id" />{{doc.title}}</label>
              </td>
              <td>{{doc.formatCode.displayName}}</td>
              <td>{{doc.id}}</td>
            </tr>
          </tbody>
        </table>
      <div>{{selectedDocs}}</div>
      <button @click="onOk" class="okButton">Ok</button>
      <button @click="onCancel" class="cancelButton">Cancel</button>
    </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';

function createEvent(event, data) {
  return new CustomEvent(event, {
    bubbles: true,
    composed: true,
    detail: {
      data
    }
  });
}
export default {
  props: {
    url: String, 
    defaultSelection: Array,
  },
  data() {
    return {
      filterText: '',
      docs: null,
      error: null,
      selectedDocs: this.defaultSelection ? this.defaultSelection : [],
    }
  },
  computed: {
    docsFiltered() {
      const txt = this.filterText;
      return this.docs.filter(doc => {
        return doc.title.toUpperCase().includes(txt.toUpperCase()) || 
        doc.formatCode.displayName.toUpperCase().includes(txt.toUpperCase())
      });
    },
  },
  created() {
    axios.get(this.url)
      .then((response) => {
        // handle success
        console.log(response);
        this.docs = response.data.result.documents;
      })
      .catch((resp) => {
        this.docs = [];
        this.error = resp;
        console.error(resp);
      })
  },
  methods: {
    onOk() {
      const tickEvent = createEvent('ok', { selectedDocs: this.selectedDocs});
      this.$el.dispatchEvent(tickEvent);
    },
    onCancel() {
      const tickEvent = createEvent('cancel', this);
      this.$el.dispatchEvent(tickEvent);
    }
  }
};
</script>
<style scoped>
.error {
  background-color: #FF5733;
}

table {
  width: 100%;
}
</style>