<template>
  <div id="app">
    <CommunitySelector url="/list.json" />
    <hr />
    <CommunitySelector url="/list.json" :defaultSelection="[ '255c70ef-cb12-42b4-9c5e-2ce5f3aac7a7', 'a8bda077-d6e7-476a-b12e-d04d173dfd7e' ]" />
    <hr />
    <CommunitySelector url="/error.json" />
    <hr />
  </div>
</template>

<script>
import CommunitySelector from "./components/CommunitySelector.vue";

export default {
  name: "App",
  components: {
    CommunitySelector
  },
};
</script>

<style>
</style>
